<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>bar</title>
</head>
<body th:inline="text">
<!--topbar-->
<nav class="navbar navbar-dark fixed-top bg-dark flex-md-nowrap p-0 shadow" th:fragment="top_bar">
    <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="https://getbootstrap.com/docs/4.1/examples/dashboard/#">[[${session.loginUser}]]</a>
    <input class="form-control form-control-dark w-100" type="text" placeholder="Search" aria-label="Search" />
    <ul class="navbar-nav px-3">
        <li class="nav-item text-nowrap">
            <a class="nav-link" href="https://getbootstrap.com/docs/4.1/examples/dashboard/#">Sign out</a>
        </li>
    </ul>
</nav>

<!--sidebar -->
<nav class="col-md-2 d-none d-md-block bg-light sidebar" th:fragment="side_bar">
    <div class="sidebar-sticky">
        <ul class="nav flex-column">
            <li class="nav-item">
                <a class="nav-link active" href="/main.html" th:class="${activeUrl=='main'?'nav-link active':'nav-link'}">
                    <span data-feather="home"></span>
                    後臺系統管理 <span class="sr-only">(current)</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">
                    <span data-feather="file-text"></span>
                    訊息公告管理
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link active" href="#" th:href="@{/otherMsg}" th:class="${activeUrl=='otherMsg'?'nav-link active':'nav-link'}">
                    <span data-feather="file-text"></span>
                    其他訊息管理
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">
                    <span data-feather="file-text"></span>
                    組織章程管理
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">
                    <span data-feather="file-text"></span>
                    好康資源管理
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">
                    <span data-feather="file-text"></span>
                    辦法及表單管理
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">
                    <span data-feather="file-text"></span>
                    扣繳憑單管理
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link active" href="#" th:href="@{/members}" th:class="${activeUrl=='members'?'nav-link active':'nav-link'}">
                    <span data-feather="file-text"></span>
                    會員帳號管理
                </a>
            </li>
        </ul>
    </div>
</nav>
<!-- 侧边栏结束 -->

</body>
</html>